<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apply Now | MACMUN</title>
    <meta property="og:site_name" content="Apply Now | MACMUN" />
    <meta property="og:url" content="https://mevcollegemun.org/apply-now"/>
    <meta property="og:description" content="Apply for an enjoyable MUN experience." />
    <link rel="stylesheet" href="/public/css/application.css">
    <%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navbars'); %>
    <main>
        
        <img src="/public/images/logo240x240.png" alt="Home" class="home-logo" onclick="window.location.href='/'" />
        <div class="container"> 
        <div class="slider">
    
            <div class="box1 box">
                <div class="bg"></div>
                <div class="details">
                    <h1>Chair Application</h1>
                    <h2 onclick="window.open('<%= chair %>', '_blank')">
                        You can check out chair application by clicking <b>here</b><i style="margin-left:5px;" class="fa-solid fa-arrow-up-right-from-square"></i>
                    </h2>
                </div>
            </div>
            <div class="box2 box">
                <div class="bg"></div>
                <div class="details">
                    <h1>Admin Application</h1>
                    <h2 onclick="window.open('<%= admin %>', '_blank')">
                        You can check out admin application by clicking <b>here</b><i style="margin-left:5px;" class="fa-solid fa-arrow-up-right-from-square"></i>
                    </h2>
                </div>
            </div>          
            <div class="box3 box">
                <div class="bg"></div>
                <div class="details">
                    <h1>Press Application</h1>
                    <h2 onclick="window.open('<%= press %>', '_blank')">
                        You can check out press application by clicking <b>here</b><i style="margin-left:5px;" class="fa-solid fa-arrow-up-right-from-square"></i>
                    </h2>
                </div>
            </div> 
            <div class="box4 box">
                <div class="bg"></div>
                <div class="details">
                    <h1>Delegation & Individual<br>Application</h1>
                    <h2 onclick="window.open('<%= delegation%>', '_blank')">
                        You can check out Delegation & Individual application by clicking <b>here</b><i style="margin-left:5px;" class="fa-solid fa-arrow-up-right-from-square"></i>
                    </h2>
                </div>
            </div> 
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff"/></svg>
        <div class="trail">
                <div class="box1 active">1</div>
                <div class="box2">2</div>
                <div class="box3">3</div>
                <div class="box4">4</div>
        </div>
    </div>
    </main>
    <script src="https://kit.fontawesome.com/57e129c3a4.js" crossorigin="anonymous"></script>
    <script src="/public/js/includes/gsap-latest-beta.min.js"></script>
    <script src="/public/js/includes/CSSRulePlugin3.min.js"></script>
    <script src="/public/js/application-slider.js"></script>
    <script src="/public/js/includes/navbars.js"></script>
</body>
</html>