<!DOCTYPE html>
<html lang="en">

<head>
	<meta property="og:description" content="Distinguished Delegates and Esteemed Advisors, We are truly delighted to announce the first ever session of MEV Ankara College Model United Nations, apromisingevent which will take place in the campus of our school.">
	<meta property="og:site_name" content="Mev College MUN">
	<meta property="og:url" content="https://mevcollegemun.org">
	<title>Mev College Model United Nations</title>
	<%- include('includes/head.ejs') %>
	<link rel="canonical" href="https://mevcollegemun.org/">
	<link rel="stylesheet" href="/public/css/home.css">

</head>

<body>
	<% if(lang == 'deutsch'){  %>
	<%- include('includes/de-navbars');%>
	<% }else if(lang == 'turkce'){  %>
	<%- include('includes/tr-navbars');%>
	<% }else{  %>
	<%- include('includes/navbars'); %>
	<% } %>
	<div class="background-radial"></div>
	<main><img class="background-image" src="/public/images/logo720x720.png" onclick="window.location.href='#'">
		<div id="countdown" style="margin-top:110vh">
			<div style="margin-top:25vh;" id="countdown" class="countdown">
				<h1><%=counter[0]%></h1>
				<div class="cd">
					<div class="cd__unit-group">
						<div class="cd__unit">
							<div class="cd__digits">
								<div class="cd__digit" data-col>
									<div data-pos="next">-</div>
									<div data-pos="prev">-</div>
								</div>
								<div class="cd__digit" data-col>
									<div data-pos="next">-</div>
									<div data-pos="prev">-</div>
								</div>
							</div>
							<div class="cd__unit-label"><%= counter[1] %></div>
						</div>
						<div class="cd__unit">
							<div class="cd__digits">
								<div class="cd__digit" data-col>
									<div data-pos="next">-</div>
									<div data-pos="prev">-</div>
								</div>
								<div class="cd__digit" data-col>
									<div data-pos="next">-</div>
									<div data-pos="prev">-</div>
								</div>
							</div>
							<div class="cd__unit-label"><%= counter[2] %></div>
						</div>
						<div class="cd__unit">
							<div class="cd__digits">
								<div class="cd__digit" data-col>
									<div data-pos="next">-</div>
									<div data-pos="prev">-</div>
								</div>
								<div class="cd__digit" data-col>
									<div data-pos="next">-</div>
									<div data-pos="prev">-</div>
								</div>
							</div>
							<div class="cd__unit-label"><%= counter[3] %></div>
						</div>
						<div class="cd__unit">
							<div class="cd__digits">
								<div class="cd__digit" data-col>
									<div data-pos="next">-</div>
									<div data-pos="prev">-</div>
								</div>
								<div class="cd__digit" data-col>
									<div data-pos="next">-</div>
									<div data-pos="prev">-</div>
								</div>
							</div>
							<div class="cd__unit-label"><%= counter[4] %></div>
						</div>
					</div>
				</div>
				<h4><em><%=counter[5]%></em></h4>
			</div>
		</div>
		<a class="scroll" href="#countdown"><span></span><%=counter[7]%></a>
	</main>
	<div class="flags">
		<a href="/translate?lang=english" class="en lang">
			<img src="/public/images/gb.webp" alt="English">
		</a>
		<a href="/translate?lang=turkce" class="tr lang">
			<img src="/public/images/tr.webp" alt="Türkçe">
		</a>
		<a href="/translate?lang=deutsch" class="de lang">
			<img src="/public/images/de.webp" alt="Deutsch">
		</a>
	</div>
    <style>.lang:first-child,.lang:last-child{-moz-border-radius-topleft:6px}.flags{-moz-border-radius-topleft:5px;-moz-border-radius-topleft:5px;position:fixed;display:flex;align-items:center;justify-content:center;flex-direction:column;-webkit-border-bottom-left-radius:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;border-bottom-left-radius:5px;background-color:transparent;right:0;bottom:25px;z-index:1000;border:1px solid #fff;border-right:none}.lang{cursor:pointer;padding:10px 15px 5px;transition:.3s linear .1s}.lang:hover{background:#fff}.lang:first-child{-webkit-border-top-left-radius:5px;border-top-left-radius:5px;border-bottom:1px solid #fff}.lang:last-child{-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;border-top:1px solid #fff}.lang img{width:30px}@media only screen and (max-width:900px){.lang img{width:20px}.lang{bottom:15px}}</style>
    <footer>
		<div class="footer-part1">
			<h1><%= counter[6] %> </h1>
			<div class="info">
				<h3><a href="mailto:<%=contacts.mail%>"><%=contacts.mail%></a></h3>
				<h3><a href="tel:<%=contacts.tel%>"><%=contacts.tel%></a></h3>
				<h5><a target="_blank" href="https://goo.gl/maps/trWBqK1D22SBNJmC7">Koru Mah. 2558. Sok. No:7/1<br>Çankaya / Ankara</a></h5>
			</div>
		</div>
		<div class="wrapper">
			<div data-nosnippet onclick="window.open('<%=social.fb%>','_blank')" class="icon facebook">
				<div class="tooltip">Facebook</div><span><i class="fab fa-facebook-f"></i></span>
			</div>
			<div data-nosnippet onclick="window.open('<%=social.twitter%>','_blank')" class="icon twitter">
				<div class="tooltip">Twitter</div>
				<a></a><span class="link-twitter"><i class="fab fa-twitter"></i></span></a>
			</div>
			<div data-nosnippet onclick="window.open('<%=social.insta%>','_blank')" class="icon instagram">
				<div class="tooltip">Instagram</div><span><i class="fab fa-instagram"></i></span>
			</div>
			<div data-nosnippet onclick="window.open('<%=social.yt%>','_blank')" class="icon youtube">
				<div class="tooltip">Youtube</div><span><i class="fab fa-youtube"></i></span>
			</div>
		</div>
	</footer>
	<div data-nosnippet onclick="window.open('https://dev-emre.web.app/', '_blank')" class="producer">Produced by Emre Ekiz</div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
	<script>
		window.addEventListener("DOMContentLoaded", () => {
			new Countdown(".cd")
		});
		class Countdown {
			constructor(a) {
				this.el = document.querySelector(a), this.time = [], this.animTimeout = null, this.updateTimeout = null, this.update()
			}
			getProgressInSeconds() {
				if ("function" != typeof moment) return 0; {
					let a = moment(),
						b = Math.ceil(a.valueOf() / 1e3);
					return b >> 0
				}
			}
			getTimeLeft() {
				let a = {
					d: 0,
					h: 0,
					m: 0,
					s: 0
				};
				if ("function" == typeof moment) {
					let c = moment(<%=date%>),
						d = moment(),
						b = moment.duration(c.diff(d));
					b.valueOf() >= 0 && (a.d += <%= Math.floor((date - new Date().getTime())/(1000*60*60*24))%>, a.h += b.hours(), a.m += b.minutes(), a.s += b.seconds())
				}
				return a
			}
			clearAnimations() {
				if (this.el) {
					let a = this.el.querySelectorAll("[data-col]");
					Array.from(a).forEach(a => {
						a.classList.remove("cd__digit--roll-in")
					});
					let b = this.el.querySelectorAll("[data-pos]");
					Array.from(b).forEach(a => {
						a.classList.remove("cd__next-digit-fade", "cd__prev-digit-fade")
					})
				}
			}
			update(h = !1) {
				if (!this.time.length) {
					let f = 8;
					for (; f--;) this.time.push("-")
				}
				let b = this.getTimeLeft(),
					c = [];
				for (let g in b) {
					let a = `${b[g]}`.split("");
					a.length < 2 && a.unshift("0"), c.push(...a)
				}
				let d = this.el.querySelectorAll("[data-col]");
				d && Array.from(d).forEach((a, b) => {
					let d = c[b];
					if (d !== this.time[b]) {
						let e = a.querySelector('[data-pos="next"]'),
							f = a.querySelector('[data-pos="prev"]');
						!0 === h && (a.classList.add("cd__digit--roll-in"), e.classList.add("cd__next-digit-fade"), f.classList.add("cd__prev-digit-fade")), e.innerHTML = d, f.innerHTML = this.time[b]
					}
				}), this.time = c;
				let e = this.el.querySelector("[data-progress]");
				e && (e.innerHTML = this.getProgressInSeconds()), clearTimeout(this.animTimeout), this.animTimeout = setTimeout(this.clearAnimations.bind(this), 500), clearTimeout(this.updateTimeout), this.updateTimeout = setTimeout(this.update.bind(this, !0), 1e3)
			}
		}
	</script>
	<script src="https://kit.fontawesome.com/57e129c3a4.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js" integrity="sha512-CPA5LMoJI/a5HkSIAKcBtFXe4gqGjPUL2ExF/3PmhrrHI17wod9xOqqF+0WZQRKIIq0KwF8oG5BaiWobtrke3A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$("html").on("contextmenu", function(e) {
				return false;
			});
		});
	</script>
	<script>
		var scroller = document.querySelector(".scroll");
		$(window).scroll(function(a) {
			$(window).scrollTop() >= window.innerHeight / 4 ? scroller.classList.contains("out-scroller") || scroller.classList.toggle("out-scroller") : scroller.classList.contains("out-scroller") && scroller.classList.remove("out-scroller")
		})
	</script>
	<script src="/public/js/home.js"></script>
	<script src="/public/js/includes/navbars.js"></script>
	<script src="https://kit.fontawesome.com/57e129c3a4.js" crossorigin="anonymous"></script>
</body>

</html>